<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman">
        <br> Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>
    <h4>Angular</h4>
    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>
    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
</div>
<div class="row row-content" ng-controller="MainCtrl">
    <p>test {{message}}</p>
    <div ng-if="!showCurrent">
        <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showCurrent">
        <h2>Real time conditions @ {{reading.date | date:'yyyy-MM-dd HH:mm:ss' }}</h2>
        <ul class="tab-pane fade in active">
            <div class="row" ng-repeat="sensor in reading.sensors">
                <div class="row">
                    <h3>{{sensor.sensor}}</h3>
                    <h4>Temperature: {{ sensor.temp.toFixed(1) }}°C</h4>
                    <h4>Humidity: {{ sensor.hum.toFixed(1)}}%</h4>
                </div>
            </div>
        </ul>
    </div>
</div>
